APP=darpa
ENV=dev

# global luigi config
LUIGI_DEFAULT_SCHEDULER_URL=http://scheduler:8082/
LUIGI_LOGGING_CONF_FILE=log/logging.conf
LUIGI_CACHE_DIR=/tmp/data
LUIGI_CKAN_USERNAME=ckan_username
LUIGI_CKAN_PASSWORD=ckan_password
LUIGI_CKAN_ADDRESS=https://ckandomain.tld
LUIGI_OUTPUT_PATH=/tmp/data/OUTPUT

# writing intermediate/final targets to local filesystem
KILUIGI_INTERMEDIATETARGET_BACKEND_CLASS=kiluigi.targets.ExpiringLocalTarget
KILUIGI_INTERMEDIATETARGET_ROOT_PATH=output/intermediate_targets
KILUIGI_FINALTARGET_BACKEND_CLASS=kiluigi.targets.LocalTarget
KILUIGI_FINALTARGET_ROOT_PATH=output/final_targets

# writing intermediate/final targets to S3
#KILUIGI_INTERMEDIATETARGET_BACKEND_CLASS=kiluigi.targets.ExpiringS3Target
#KILUIGI_INTERMEDIATETARGET_ROOT_PATH=s3://darpa-output-dev/intermediate_targets
#KILUIGI_FINALTARGET_BACKEND_CLASS=kiluigi.targets.TaggableS3Target
#KILUIGI_FINALTARGET_ROOT_PATH=s3://darpa-output-dev/final_targets

